
html,body {
  background-color: #fcfcfc;
  font-family: arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
  position: relative;
}

button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}

#header1 {
  font-size: 48px;
  line-height: 30px;
  letter-spacing: -1px;
  color: #333;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: 100;
}

#header2 {
  font-size: 28px;
  line-height: 20px;
  letter-spacing: -1px;
  color: #444;
}

#foreword {
  font-size: 14px;
  font-weight: bold;
  color: #cc0000;
}

#paragraph {
  font-size: 13px;
  color: #444;
}

#divContainer {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#container01 {
  width: 120px;
  height: 60px;
  padding: 8px 8px 8px 8px;
  margin: 8px 8px 8px 8px;
  position: relative;
}

#container02 {
  width: 400px;
  height: 300px;
  padding: 8px 8px 8px 8px;
  margin: 8px 8px 8px 8px;
  position: relative;
}

#target {
  width: auto;
  height: 496px;
  min-height: 496px;
  padding: 8px 8px 8px 8px;
  margin: 8px 8px 8px 8px;
  position: relative;
}

#codeContainer {
  font-family: arial;
  overflow: auto;
  width: 400px;
  padding: 8px 8px 8px 8px;
  margin: 8px 8px 8px 8px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

.dp-highlighter
{
  font-family: "Consolas", "Courier New", Courier, mono, serif;
  font-size: 12px;
  background-color: #E7E5DC;
  width: 99%;
  overflow: auto;
  margin: 18px 0 18px 0 !important;
  padding-top: 1px; /* adds a little border on top when controls are hidden */
}

/* clear styles */
.dp-highlighter ol,
.dp-highlighter ol li,
.dp-highlighter ol li span 
{
  margin: 0;
  padding: 0;
  border: none;
}

.dp-highlighter a,
.dp-highlighter a:hover
{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.dp-highlighter .bar
{
  padding-left: 45px;
}

.dp-highlighter.collapsed .bar,
.dp-highlighter.nogutter .bar
{
  padding-left: 0px;
}

.dp-highlighter ol
{
  list-style: decimal; /* for ie */
  background-color: #fff;
  margin: 0px 0px 1px 45px !important; /* 1px bottom margin seems to fix occasional Firefox scrolling */
  padding: 0px;
  color: #5C5C5C;
}

.dp-highlighter.nogutter ol,
.dp-highlighter.nogutter ol li
{
  list-style: none !important;
  margin-left: 0px !important;
}

.dp-highlighter ol li,
.dp-highlighter .columns div
{
  list-style: decimal-leading-zero; /* better look for others, override cascade from OL */
  list-style-position: outside !important;
  border-left: 3px solid #6CE26C;
  background-color: #F8F8F8;
  color: #5C5C5C;
  padding: 0 3px 0 10px !important;
  margin: 0 !important;
  line-height: 14px;
}

.dp-highlighter.nogutter ol li,
.dp-highlighter.nogutter .columns div
{
  border: 0;
}

.dp-highlighter .columns
{
  background-color: #F8F8F8;
  color: gray;
  overflow: hidden;
  width: 100%;
}

.dp-highlighter .columns div
{
  padding-bottom: 5px;
}

.dp-highlighter ol li.alt
{
  background-color: #FFF;
  color: inherit;
}

.dp-highlighter ol li span
{
  color: black;
  background-color: inherit;
}

/* Adjust some properties when collapsed */

.dp-highlighter.collapsed ol
{
  margin: 0px;
}

.dp-highlighter.collapsed ol li
{
  display: none;
}

/* Additional modifications when in print-view */

.dp-highlighter.printing
{
  border: none;
}

.dp-highlighter.printing .tools
{
  display: none !important;
}

.dp-highlighter.printing li
{
  display: list-item !important;
}

/* Styles for the tools */

.dp-highlighter .tools
{
  padding: 3px 8px 3px 10px;
  font: 9px Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: silver;
  background-color: #f8f8f8;
  padding-bottom: 10px;
  border-left: 3px solid #6CE26C;
}

.dp-highlighter.nogutter .tools
{
  border-left: 0;
}

.dp-highlighter.collapsed .tools
{
  border-bottom: 0;
}

.dp-highlighter .tools a
{
  font-size: 9px;
  color: #a0a0a0;
  background-color: inherit;
  text-decoration: none;
  margin-right: 10px;
}

.dp-highlighter .tools a:hover
{
  color: red;
  background-color: inherit;
  text-decoration: underline;
}

/* About dialog styles */

.dp-about { background-color: #fff; color: #333; margin: 0px; padding: 0px; }
.dp-about table { width: 100%; height: 100%; font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; }
.dp-about td { padding: 10px; vertical-align: top; }
.dp-about .copy { border-bottom: 1px solid #ACA899; height: 95%; }
.dp-about .title { color: red; background-color: inherit; font-weight: bold; }
.dp-about .para { margin: 0 0 4px 0; }
.dp-about .footer { background-color: #ECEADB; color: #333; border-top: 1px solid #fff; text-align: right; }
.dp-about .close { font-size: 11px; font-family: Tahoma, Verdana, Arial, sans-serif !important; background-color: #ECEADB; color: #333; width: 60px; height: 22px; }

/* Language specific styles */

.dp-highlighter .comment, .dp-highlighter .comments { color: #008200; background-color: inherit; }
.dp-highlighter .string { color: blue; background-color: inherit; }
.dp-highlighter .keyword { color: #069; font-weight: bold; background-color: inherit; }
.dp-highlighter .preprocessor { color: gray; background-color: inherit; }